.resultbody
  .result.z-depth-4
    .result__header
      %h2 あなたのミーハー度は
    .result__point
      %h1 500000
    .result__discription
      %p ああああああああああああああああああああああ！！
.result__log
  =render partial: "log", collection: @logs
