.mainbody
  .main.z-depth-4
    .main__header
      %h1 ミーハー度判定
    .main__discription
      %p InstaGgramの投稿のURLを入力すると、ミーハー度あああああ
    =form_tag('/result', method: :post) do
      %input{class: "main__typeArea", placeholder:"URLを入力してください", type:"text", name:"image_url"}
      %input{class:"main__sendButton", type:"submit", value:"SENT", style: "cursor:pointer"}
